
<link rel="stylesheet" type="text/css" href="~/Content/Site.css">

@model DeversWeWatch.Models.ReportModel

<h3>Gör en anmälan</h3>

@using (Html.BeginForm("Index", "Form", FormMethod.Post, new { @class = "form-horizontal" }))
{

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Förnamn, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Förnamn, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Efternamn, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Efternamn, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Telefonnummer, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Telefonnummer, new { @class = "form-control" })
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Personnummer, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Personnummer, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Datum, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Datum, new { @class = "form-control", @type = "datetime-local" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Plats_Adress, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Plats_Adress, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kategori, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.Kategori, new { @class = "form-control", @id = "ValVandalism" })
                @Html.Label("ValVandalism", "Vandalism")

                @Html.RadioButtonFor(model => model.Kategori, new { @class = "form-control", @id = "ValAvvikandeBeteende" })
                @Html.Label("ValAvvikandeBeteende", "Avvikande beteende")


                @Html.RadioButtonFor(model => model.Kategori, new { @class = "form-control", @id = "ValBrak" })
                @Html.Label("ValBrak", "Bråk")

                @Html.RadioButtonFor(model => model.Kategori, new { @class = "form-control", @id = "ValRoadkill" })
                @Html.Label("ValRoadKill", "Roadkill")

                @Html.RadioButtonFor(model => model.Kategori, new { @class = "form-control", @id = "ValAnnat" })
                @Html.Label("ValAnnat", "Annat")
                @Html.TextBoxFor(model => model.Kategori, new { @class = "form-control" })
            </div>
        </div>
           
            <div class="form-group">
                @Html.LabelFor(model => model.Meddelande, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Meddelande, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-success" value="Skicka in anmälan" />
                </div>
            </div>
}



