
@{
    ViewBag.Title = "Index";
}

<h2></h2>

<div class="container-fluid">
    <div class="row">
        <div class="divStart col-xs-12 col-md-3">
            <div class="kolumnRubrik text-center">Välkommen till<br /> We-Watch!</div>
            <p class="kolumnText">
                Den här sidan är till för dig som snabbt och enkelt vill rapportera om avvikande händelser som inte är
                befogat att ringa 112 för.<br><br>Vår administratör har kontakt med hela kedjan inom räddningstjänsten och skickar
                er rapportering vidare för eventuell åtgärd.<br><br>Du får också feedback på hur ärendet har åtgärdats.<br>
                Det är viktigt att du fyller i formuläret så noggrannt som möjligt.<br><br>
                <strong>Tack för din insats!</strong>
            </p>
        </div>
        <div class="divStart col-xs-12 col-md-3">
            <div class="kolumnRubrik text-center">Formulär</div>

            @model DeversWeWatch.Models.ReportModel

            <h3>Gör en anmälan</h3>

            @using (Html.BeginForm("Form", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Förnamn, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Förnamn, new { @class = "form-control", @placeholder = "Skriv ditt förnamn här" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Efternamn, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Efternamn, new { @class = "form-control", @placeholder = "Skriv ditt efternamn här" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Skriv din email här" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telefonnummer, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Telefonnummer, new { @class = "form-control", @placeholder = "Skriv ditt telefonnummer här" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Personnummer, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Personnummer, new { @class = "form-control", @placeholder = "Skriv ditt personnummer här" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Datum, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Datum, new { @class = "form-control", @type = "datetime-local" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Plats_Adress, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Plats_Adress, new { @class = "form-control", @placeholder = "Skriv din adress här" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Kategori, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.Kategori, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Kategori, "", new { @class = "text-danger" })


                        @*@Html.TextBox("annanKategori", null, new { @class = "form-control" })*@

                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.Meddelande, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Meddelande, new { @class = "form-control", @placeholder = "Skriv ett meddelande här" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-success" value="Skicka in anmälan" />
                    </div>
                </div>
            }


        </div>
        <div class="divStart col-xs-12 col-md-3">
            <div class="kolumnRubrik text-center">Om oss</div>
            <p class="kolumnText">
                Vår verksamhet är nu inne på sitt tredje år och vi känner hur vi tillsammans med er som rapporterar 
                verkligen gör en insats för samhället.<br><br>Vi har optimerat och effektiviserat resursfördelningen inom
                räddningstjänsten och därigenom frigjort tid som de kan fördela på mer akuta ärenden.<br><br>We-Watch kom till 
                som ett skolprojekt och har vuxit till ett företag med 8 anställda.<br><br>Företaget finns i Göteborg men
                står i kommunikation med all räddningstjänst i Sveriges alla kommuner.
            </p>
        </div>
   </div>
</div>
